.aboutCover{
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: auto;
    background-image: url('../../../public/products/17.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
.aboutCover h2{
    margin-left: 25%;
    margin-top: 140px;
    font: 500 40px 'Lora', serif;
    color: var(--background-color);
}
.aboutCover h3{
    margin-top: 10px;
    margin-left: 25%;
    font: 400 20px 'Quicksand', sans-serif;
    color: var(--background-color);
}
.aboutCover h3 a{
    color: var(--background-color);
}
.aboutContent{
    width: 50vw;
    margin: auto;
    position: relative;
    top: -150px;
}
.aboutSection{
    display: flex;
    flex-direction: row;
    height: 600px;
    margin-bottom: 100px;
    justify-content: space-around;
}
.secondSection{
    background-color: var(--brand);
}
.secondSection .textSide h2{
    color: var(--background-color);
}
.secondSection .textSide .contentPart{
    color: var(--background-color);
}
.textSide{
    align-self:flex-end;
}
.textSide h2{
    font: 500 40px 'Lora', serif;
    color: var(--brand);
}
.textSide .contentPart{
    font: 400 15px 'Quicksand', sans-serif;
    color: var(--brand);
    width: 500px;
    margin-top: 20px;
    text-align: justify;
    word-spacing: 4px;
}
.imageSide {
    overflow: hidden;
}
.imageSide img{
    width: 500px;
}