.mainMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px solid var(--line);
}
.mainNav{
    display: flex;
    justify-content: space-around;
}
.item{
    list-style: none;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    font: 700 14px 'Raleway', sans-serif;
    color: var(--brand);
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease;
}
.item a:visited, a:active{
    text-decoration: none;
    color: inherit;
}
.item:hover{
    scale: 1.1;
    transition: all .2s ease;
}
.costumerCart{
    position: absolute;
    right: 400px;
}
.costumerCart i{
    transition: all .2s ease;
    padding-left: 30px;
    color: var(--brand);
    cursor: pointer;
}
.costumerCart i:hover{
    transition: all .2s ease;
    scale: 1.1;
}
.item:last-child{
    position: relative;
}
.item:last-child::after{
    content: '';
    position: absolute;
    top: 15px;
    height: 4px;
    width: 4px;
    background-color: var(--secondary);
    border-radius: 50%;
    box-shadow:0 0 2px #ea4c89, inset 0 0 2px #ea4c89
}