.footer{
    margin-top: 50px;
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
    box-shadow: 0px 0px 9px 0px rgba(184,184,184,0.75);
}
.footerContainer{
    width: 1300px;
    margin: auto;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    top: 40px;
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.flexItem{
    width: 400px;
}
.mainNav{
    margin-right: 70px;
    font: 500 25px 'Lora', serif;
    color: var(--brand);
}
.item {
    opacity: .8;
    margin-top: 20px;
    font: 500 15px 'Raleway', sans-serif;
    margin-bottom: 15px;
    list-style-type: none;
}
.item a{
    color: var(--brand);
}
.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand a{
    display: block;
}
.brand span{
    margin-top: 10px;
    color: var(--brand);
    font: 400 15px 'Quicksand', sans-serif;
    opacity: .8;
    text-align: center;
}
.contact h3{
    font: 500 20px 'Lora', serif;
    color: var(--brand);
    margin-bottom: 30px;
}
.contact h4{
    font: 400 15px 'Quicksand', sans-serif;
    color: var(--brand);
    opacity: .8;
    margin-bottom: 20px;
}
.emailPart{
    border-bottom: solid 1px var(--brand);
    width: 350px;
    margin-bottom: 45px;
}
.emailPart input{
    border: none;
    width: 250px;
    font: 400 15px 'Quicksand', sans-serif;
    background-color: var(--background-color);
    color: var(--brand);
    opacity: .8;
}
.emailPart input:focus{
    outline: none;
}
.emailPart input::placeholder{
    color: var(--brand);
    opacity: .8;
}
.emailPart i{
    color: var(--brand);
    float: right;
    scale: 1.1;
}
.socialPart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
.socialPart a{
    color: var(--brand);
    opacity: .7;
    scale: 1.3;
}
.socialPart a:hover{
    opacity: 1;
}
.copy{
    width: 1300px;
    margin: auto;
    position: relative;
    text-align: center;
    font: 400 13px 'Quicksand', sans-serif;
    color: var(--brand);
    margin-top: 70px;
    padding-bottom: 20px;
    border-top: solid 1px #99ac9870;;
    opacity: .8;
}
.copy div{
    margin-top: 20px;
}